<div class="container">
  <div class="row">
    <p class="text-md">Bienvenido(a) {{persona}} 
    <a class="btn   btn-outline-dark  btn-sm" href="/admin/login/logout">Cerrar Sesión
      <i class="fas fa-sign-out-alt"></i></a></p>
  </div>
</div>