
<style>
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
        .header-content p {
        margin-bottom: 0; /* Elimina el margen inferior del párrafo */
    }

    .header-content a {
        margin-bottom: 5px;
    }
</style>
<header class="hd-logout">
    <div class="header-content">
        <a class="btn btn-outline-dark btn-sm" href="/admin/productos" >
            Agregar Productos
            <i class="fas fa-sign-out-alt"></i> 
        </a>
        <p class="text-md">Bienvenido(a) {{persona}}</p>
        <a class="btn btn-outline-dark btn-sm" href="/admin/login/logout" >
            Cerrar Sesión
            <i class="fas fa-sign-out-alt"></i> 
        </a>
    </div>
</header>
    


<div class="contenedor-img">
        <div class="item">
            <figure>
                <img src="../images/hoodie-flower.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Hoodie Flores</h2>
                <p class="precio">$12.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/hoodie-pink.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Hoodie Rosa</h2>
                <p class="precio">$12.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/hoodie-rain.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Hoodie Arcoiris</h2>
                <p class="precio">$12.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/jean-buttl.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Jean Mariposas</h2>
                <p class="precio">$8.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/jogger-black.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Jogger negro</h2>
                <p class="precio">$9.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/pijama-skel.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Pijama Skeletton</h2>
                <p class="precio">$15.000</p>
                <button class="bn">Lo quiero!</button>
            </div>  
        </div>
        <div class="item">
            <figure>
                <img src="../images/shirt-dino.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Remera Dino</h2>
                <p class="precio">$6.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/shirt-game.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Remera Gamer</h2>
                <p class="precio">$6.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/shirt-space.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Remera Espacio</h2>
                <p class="precio">$6.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/vest-blue.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Vestido azul</h2>
                <p class="precio">$16.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/vest-buttle.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Vestido Mariposas</h2>
                <p class="precio">$16.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../images/vest-pink.jpg" class="img-s" alt="producto"/>
            </figure>
            <div class="info-item">
                <h2>Vestido Rosa</h2>
                <p class="precio">$16.000</p>
                <button class="bn">Lo quiero!</button>
            </div>
        </div>
    </div>